*.pyc
*~
.project
.pydevproject
logs
deploy_conf/*
colegios_project/local_settings.py
.settings
pip-log.txt
.idea/*
local_settings.py
build/*
public/static/media/*
public/media/*
public/media/escudos/*
.DS_Store
backups/
static/v2/stylesheets/.sass-cache
#static/v2/stylesheets/css
celerybeat-schedule.db
media/
collectstatic/
private_media/
.fabric.env
docker-compose.override.yml
db.sqlite3